@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

.header {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Get Schwifty';
    font-size: 7em;
    color: #08BAE3;
    margin-bottom: 20px;
}

/*
body {
    font-size: 0.9vw;
    margin: 0;
    padding: 0;
}
*/

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scroll-container {
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFF765;
}

.character-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.character-item {
    margin-bottom: 10px;
}

.character-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #08BAE3;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    transition: background-color 0.3s;
}

.character-button:hover {
    background-color: darkgrey;
}

.title {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Get Schwifty';
    font-size: 9em;
    color: #08BAE3;
    margin-bottom: 20px;
}

.title span {
    font-size: 0.5em;
}

.home-title {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 20px;
    flex-direction: column;
}
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: #97ce4c;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

