@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

.header {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Get Schwifty';
    font-size: 10vw;
    color: #08BAE3;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .header {
        font-size: 80px;
    }
}

@media (max-width: 600px) {
    .header {
        font-size: 6vw;
    }
}

.btn {
    color: #08BAE3;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #44281D;
    padding: 10px 20px;
    font-size: 4vw; /* Usar vw para hacer el texto del botón responsivo */
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin: 3px;
}

@media (min-width: 1200px) {
    .btn {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .btn {
        font-size: 3vw;
        padding: 8px 16px; /* Ajustar el padding en pantallas pequeñas */
    }
}

.btn:hover {
    color: #44281D;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #08BAE3;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}
